@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  /* background-color: #2e7d32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a5d6a7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
  background-color: #40c4ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e1f5fe' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

div {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: row; */
}

main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.pileContainer {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardPile {
  height: 200px;
  width: 125px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  /* align-items: center; */
}

.pileContainer:last-child {
  margin-left: 50px;
}

.pileLabel {
  position: absolute;
  z-index: -10;
  margin-bottom: 16px;
  opacity: 0.5;
}

#drawPile {
  /* margin-right: 50px; */
  position: relative;
}

.card {
  height: 160px;
  width: 100px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 5px;
  text-align: center;
}

.otherPCard {
  height: 80px;
  width: 50px;
  font-size: 0.75rem;
}

.card-back {
  /* background-color: #bbdefb; */
  background-image: url(./assets/cardBack.png);
  background-size: cover;
  /* background; */
}
.piled-card {
  height: 200px;
  width: 125px;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}

#userHand, #userProperty, #userMoney {
  position: relative;
  flex: 1
}

.field {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.playerField {
  height: 300px;
  display: flex;
  flex-direction: row;
}

.moneyPile, .hand, .propertyPile {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.playerField .hand {
  flex: 1.5;
}
/* .playerField div  div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: content;
} */

.otherPlayerFields {
  height: 200px;
}

.otherField {
  min-width: 33.333vw ;
  /* flex: 1 */
}
.otherMoneyPile, .otherHand, .otherPropertyPile {
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}

.otherCardPile {
  flex: 1;
  flex-wrap: wrap;
}

.modalCard {
  padding: 0 32px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  border-radius: 6px;
  flex-direction: column;
  text-align: center;
}

.modalBase {
  position: absolute;
  background-color: rgba(0, 0, 0, .40);
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyCardPile {
  /* display: block; */
  position: relative;
  /* min-width: 150px; */
}

.cardToFront {
  z-index: 50;
}

.wildPropChoiceContainer {
  justify-content: space-around;
  width: 100%;
}

.wildPropDisplay{
  height: 150px;
  width: 100px;
  border-radius: 6px;
}

.rentPayDisplay {
  height: 75px;
  width: 50px;
  border-radius: 3px;
}

.wildPropChoice, .rentPayChoice{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 18px;
  cursor: pointer;
}

.last {
  margin-right: 0;
  margin-bottom: 0;
}


.modalBase button {
  background-color: #bbdefb;
  height: 30px;
  color: #1976d2;
  border: 0;
  border-radius: 3px;
  flex: 1;
  cursor: pointer;
  margin-bottom: 16px;
}

.modalBase h3 {
  text-transform: uppercase;
}

.modalBase button:last-child {
  margin-left: 8px;
}

.modalBase p {
  margin: 0;
  margin-bottom: 6px;
}


.rentBalance {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 12px;
}

.payRentSection {
  flex-direction: column;
}

.optionSelected {
  background-color: purple;
}

