@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  /* background-color: #2e7d32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a5d6a7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */
  background-color: #40c4ff;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e1f5fe' fill-opacity='0.42'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem;
  padding-bottom: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

div {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: row; */
}

main {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  flex: 1;
}

button {
  cursor: pointer;
}

.pileContainer {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardPile {
  height: 160px;
  width: 100px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
  /* align-items: center; */
}

#discardPileContainer {
  margin-left: 50px;
}

.pileLabel {
  position: absolute;
  z-index: -10;
  margin-bottom: 16px;
  opacity: 0.5;
}

#drawPile {
  /* margin-right: 50px; */
  position: relative;
}

.card {
  /* height: 160px;
  width: 100px; */
  /* height: 140px; */
  /* width: 87.5px; */
  height: 120px;
  width: 75px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 5px;
  text-align: center;
}

.otherPCard {
  height: 60px;
  width: 37.5px;
  font-size: 0.75rem;
  cursor: default;
}

.card-back {
  background-image: url(./assets/cardBack.png);
  background-size: cover;
}
.piled-card {
  height: 160px;
  width: 100px;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  cursor: default;
}

#userHand, #userProperty, #userMoney {
  position: relative;
  flex: 1;
  background-color: rgba(255, 255,255,0.4);
  padding: 6px;
}

#userHand {
  flex-wrap: wrap;
}

#userProperty {
  flex-wrap: wrap;

}

.field {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.playerField {
  height: 300px;
  display: flex;
  flex-direction: row;
}

.moneyPile, .hand, .propertyPile {
  flex: 1;
  display: flex;
  flex-direction: column;
  
  position: relative;
  border: 3px solid white;
  border-radius: 12px 12px 0 0;
  border-bottom: 0;
}


.moneyPile .row, .hand .row, .propertyPile .row {
  border-bottom: 3px solid white;
  height: 25px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: flex-end;
  padding: 6px;
} 

.hand .row button {
  background-color: #40c4ff;
  border-radius:12px;
  border: 0;
  color: white;
  font-size: 1.1rem;
  min-width: 100px
}

.hand .row button:hover {
  filter: brightness(1.1);
}

.fieldLabel {
  position: absolute;
  align-self: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  z-index: 1;
  pointer-events: none;
}

.fieldIndicator {
  padding: 3px 12px;
  background-color: white;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  color: #40c4ff;
}

.fieldLabel h3 {
  color: #40c4ff;
  text-transform: uppercase;
}

.moneyPile, .hand{
  margin-right: 6px;
}

.playerField .hand {
  flex: 1.5;
}

/* Other Players CSS */
.otherField {
  flex: 1;
  /* min-width: 33.333vw ; */
  flex-direction: column;
  margin-right: 12px;
  /* flex: 1 */
}
    .otherField:last-child {
      margin-right: 0;
    }


.otherPlayerName {
  border-radius: 12px 12px 0 0;
  border: 3px solid white;
  padding: 6px;
  justify-content: center;
  background-color: white;
}
    .otherPlayerName h4 {
      margin: 0;
      text-transform: uppercase;
    }
    .otherPlayerName i{ 
      margin-left: 6px;
    }


.otherPlayerFields {
  height: 250px;
}

.otherIndicator {
  background-color: white;
  height: 30px;
  justify-content: center;
  align-items: center;
}
.otherIndicator p {
  margin: 0;
}

.otherMoneyPile, .otherHand, .otherPropertyPile {
  background-color:rgba(255, 255, 255, 0.4);
  border: 3px solid white;
  flex-direction: column;
  flex-wrap: wrap;
}

.otherCardPile {
  padding: 6px;
}

.otherMoneyPile, .otherPropertyPile {
  border-top: 0;
  flex: 1;
  min-height: 160px;
}
.otherMoneyPile {
  border-right: 1.5px solid white;
  border-bottom-left-radius: 12px;
}

.otherPropertyPile {
  /* border-left: 1.5px solid white;  */
  border-bottom-right-radius: 12px;
}

.otherCardPile {
  position: relative;
  flex: 1;
  flex-wrap: wrap;
}

.modalCard {
  padding: 16px 32px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  border-radius: 6px;
  flex-direction: column;
  text-align: center;
}

.modalBase {
  position: absolute;
  background-color: rgba(0, 0, 0, .40);
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyCardPile {
  /* display: block; */
  position: relative;
  /* min-width: 150px; */
}

.cardToFront {
  z-index: 50;
}

.focusCard, .focusOtherCard {
  animation: animateFocus 150ms;
  animation-fill-mode: forwards;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes animateFocus {
  to {transform: scale(1.8);}
}

.modalChoiceContainer {
  justify-content: space-around;
  width: 100%;
}

.wildPropDisplay{
  height: 160px;
  width: 100px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.rentPayDisplay {
  height: 100px;
  width: 62.5px;
  border-radius: 3px;
}

.wildPropChoice, .rentPayChoice{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 18px; */
  padding: 6px;
  margin: 3px;
  cursor: pointer;
}

.last {
  margin-right: 0;
  margin-bottom: 0;
}

.row {
  flex-direction: row;
}

.modalBase .row {
  flex: 1;
  margin-top: 8px;
}

.modalBase button {
  background-color: #bbdefb;
  height: 35px;
  color: #1976d2;
  border: 0;
  border-radius: 6px;
  flex: 1;
  cursor: pointer;
}

.modalBase h3 {
  text-transform: uppercase;
}

.modalBase button:nth-child(2) {
  margin-left: 8px;
}


.rentBalance {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 18px;
}

.modalBase p, .modalBase h3 {
  margin: 0;
  margin-bottom: 6px;
}


.payRentSection {
  flex-direction: column;
}

.propertyValueDisplay {
  margin-top: 3px;
}

.optionSelected {
  /* background-color: rgba(0, 0, 0, 0.05); */
  background-color: #e1f5fe;
  border-radius: 6px;
}

.rentSelectionContainer {
  max-width: 340px;
  flex-wrap: wrap;
  overflow-x: auto;
  justify-content: center ;
}

#gameLogContainer {
  position: absolute;
  right: 16px;
  border: 3px solid white;
  border-radius: 12px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 250px;
  flex-direction: column;
}
#gameLogLabel {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

#logTextContainer {
  overflow-y: auto;
  padding: 6px;
  flex-direction: column;
}

.gameLogText{
  margin: 0;
  margin-bottom: 6px;
  font-size: 0.8rem;
}
