@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  background-color: #2e7d32;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a5d6a7' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

div {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: row; */
}

main {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cardPile {
  height: 200px;
  width: 133.333px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.1);
}

#drawPile {
  margin-right: 50px;
  position: relative;
}

.card {
  height: 160px;
  width: 100px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 5px;
  text-align: center;
}

.card-back {
  background-color: #bbdefb;
}
.piled-card {
  height: 200px;
  width: 133.333px;
  position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);
}

#userHand, #userProperty {
  flex: 1
}

.field {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.playerField {
  height: 300px;
  display: flex;
  flex-direction: row;
}

.moneyPile, .hand, .propertyPile {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.playerField .hand {
  flex: 1.5;
}
/* .playerField div  div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-basis: content;
} */

.otherPlayerFields {
  height: 200px;
}


.modalCard {
  padding: 16px;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, .15);
  border-radius: 6px;
  flex-direction: column;
}

.modalBase {
  position: absolute;
  background-color: rgba(0, 0, 0, .40);
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.propertyCardPile {
  /* display: block; */
  position: relative;
  /* min-width: 150px; */
}

.cardToFront {
  z-index: 50;
}